<html op="news">
    <head>
        <title>Translator</title>
    </head>
    <body>
        <h2>Welcome to the best translator in the World!</h2>
        <div id="text-div">
            <form role="form" action="" method="post">
                <label class="sr-only" for="text">Text to be translated:</label>
                <input type="text" name="text" id="text">
                <button type="submit" class="btn">Translate!</button>
            </form>
        </div>
        <div id="translation-jobs">

        </div>
    </body>
</html>